body {
  background-color: #222;
  color: #eee;
}

.movieContainer {
  padding: 50px;
}

.movieThumbnail {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.moviePoster{
}

.movieTitle {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-top: -20px;
}

.movieTitle>p{
  margin-top: 5px;
}